body {
    background-color: lightgray;
    text-align: center;
  }
  
  #mood-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
  }